.products {
    padding: 60px 0px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(var(--accent));
  margin-bottom: 40px;
  text-align: center;
}

/* Customização do Swiper */
.mySwiper :global(.swiper-button-next),
.mySwiper :global(.swiper-button-prev) {
  color: hsl(var(--accent)) !important;
  transform: scale(0.6);
}

.mySwiper :global(.swiper-pagination-bullet-active) {
  background: hsl(var(--accent)) !important;
}